@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:   ~"only screen and (min-width: 720px) and (max-width: 959px)";
@medium:~"only screen and (min-width: 360px) and (max-width: 769px)";
@phone:     ~"only screen and (min-width: 240px) and(max-width: 359px)";


@master-color: #c42847 ;
@scnd-color: #de3c4b;
@form-color: #c42847;
@test: #4CB084;
@border-color: #de3c4b;
@bckgrd-color : #212121;
@menu-color : #111111;
@text-color : #a1a1a1;

// @master-color: #FF8C91 ;
// @scnd-color: #FFC5C5;
// @form-color: #FFECEF;
// @test: #4CB084;
// @border-color: #FFD7D9;
// @bckgrd-color : #FCDFE2;

.layout{
  min-height: inherit;
  background: @bckgrd-color;
}

.logoDiv{
  width:inherit;
  height: 64px;
  background: @master-color;
  display:flex;
  align-items: center;
}

.logoDiv > .logo{
  width: 100%;
}

.header{
  background: @master-color;
}

.sider{
  background: @menu-color;
}

.content{
  background: @bckgrd-color;
  padding: 0 35px;
  display:block;
  height:100%;
}

.form{
  margin-top: 12vh;
  padding: 5vh;
  background-color: @form-color;
  border: 1px solid @border-color;
  border-radius: 5px;
}

.menu {
  background: @menu-color;
  
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
  border-right: 1px solid @menu-color;
}

.menu > .menuItem {
  background: @menu-color;
  color: @text-color;
  
}

.subMenu {
  background: @menu-color;
  color: @text-color;
}
.ant-menu-sub.ant-menu-inline{
  background: @bckgrd-color;
  color: @text-color;
}

//TODO:HAVE NO FUCKING IDEA HOW TO REMOVE THOSE INDENTATIONS
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: @scnd-color;
  color: #000;
}

.ant-menu-item:hover{
  transition: color 0.3s !important ;
  color: #000;
}

.ant-menu-submenu-expand-icon, .ant-menu-submenu-arrow{
  color: @text-color;
}

.ant-layout-sider-trigger{
  background: @master-color;
}

.contentOption {
  background: @bckgrd-color;
  padding: 24px 32px;
  display: block;
  height: 100% ;
}
.contentScreen{
  position: relative;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  min-width: 40vw;
  background: @menu-color;
  color: @text-color;
}

//MESSAGE STYLES
.loadMoreButton{
  color: @text-color;
  background-color: #212121;
  border-color: #313131;
}

.loadMoreButton:hover{
  background-color: #111111;
  border-color: #212121;
}

.loadMoreButton:focus{
  color: @text-color;
  background-color: #212121;
  border-color: #313131;
  transition: 0.5s;
}
.messagesScroll{
  

  position: absolute;
  overflow: auto;
  // overflow-x: hidden;
  top:55px;
  width: 95%;
  @media @desktop{
    width:95%;
  }
  @media @tablet {
    width: 95%;
  }
  @media @medium {
    width: 92%;
  }
  @media @phone{
    width: 80%;
  }
  @height : calc(100% - (3% + 80px));
  max-height: @height;
  
}
.messageFlexboxLeft{
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  flex-direction: row;
  //align-items: flex-end;
  max-width: 50%;
  
}
.messageFlexboxRight{
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  flex-direction: row-reverse;
  //align-items: flex-end;
  max-width: 50%;
  
}
.messageContent{

  margin: 5px 0;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  text-align: left;
  overflow-wrap: break-word;
  width: -moz-fit-content;
  border-radius: 10px 10px 10px 10px;
  background-color: #000;  
}

.sendInputFlexbox{
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  position:absolute;
  bottom: 10px;
  left: 2.5%;
  margin: 0 auto;
  width: 95%;
}

.footer {
  background: @bckgrd-color;
}
.footText{
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  color: #c1c1c1;
  font-size: 20px;
}

