@master-color: #c42847 ;
@scnd-color: #de3c4b;
@form-color: #c42847;
@test: #4CB084;
@border-color: #de3c4b;
@bckgrd-color : #212121;

// @master-color: #FF8C91 ;
// @scnd-color: #FFC5C5;
// @form-color: #FFECEF;
// @test: #4CB084;
// @border-color: #FFD7D9;
// @bckgrd-color : #FCDFE2;

.layout{
  min-height: inherit;
}

.header{
  background: @master-color;
}

.content{
  background: @bckgrd-color;
  padding: 0 50px;
}

.form{
  margin-top: 12vh;
  padding: 5vh;
  background-color: @form-color;
  border: 1px solid @border-color;
  border-radius: 5px;
}
.footer {
  background: @bckgrd-color;
}
.footText{
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  color: #c1c1c1;
  font-size: 20px;
}

